@font-face {
    font-family: 'SF Pro Text Thin Italic';
    src: url('portfolio/assets/fonts/SF-Pro/SF-Pro-Text-ThinItalic.otf') format('opentype');
}

@font-face {
    font-family: 'SF Pro Text Ultralight';
    src: url('portfolio/assets/fonts/SF-Pro/SF-Pro-Text-Ultralight.otf') format('opentype');
}

@font-face {
    font-family: 'SF Pro Text Ultralight Italic';
    src: url('portfolio/assets/fonts/SF-Pro/SF-Pro-Text-UltralightItalic.otf') format('opentype');
}

@font-face {
    font-family: 'SF Pro';
    src: url('portfolio/assets/fonts/SF-Pro/SF-Pro.ttf') format('truetype');
}

@font-face {
    font-family: 'SF Pro Display Black';
    src: url('portfolio/assets/fonts/SF-Pro/SF-Pro-Display-Black.otf') format('opentype');
}

@font-face {
    font-family: 'SF Pro Display Black Italic';
    src: url('portfolio/assets/fonts/SF-Pro/SF-Pro-Display-BlackItalic.otf') format('opentype');
}

@font-face {
    font-family: 'SF Pro Display Bold';
    src: url('portfolio/assets/fonts/SF-Pro/SF-Pro-Display-Bold.otf') format('opentype');
}

@font-face {
    font-family: 'SF Pro Display Bold Italic';
    src: url('portfolio/assets/fonts/SF-Pro/SF-Pro-Display-BoldItalic.otf') format('opentype');
}

@font-face {
    font-family: 'SF Pro Display Heavy';
    src: url('portfolio/assets/fonts/SF-Pro/SF-Pro-Display-Heavy.otf') format('opentype');
}

@font-face {
    font-family: 'SF Pro Display Heavy Italic';
    src: url('portfolio/assets/fonts/SF-Pro/SF-Pro-Display-HeavyItalic.otf') format('opentype');
}

@font-face {
    font-family: 'SF Pro Display Light';
    src: url('portfolio/assets/fonts/SF-Pro/SF-Pro-Display-Light.otf') format('opentype');
}

@font-face {
    font-family: 'SF Pro Display Light Italic';
    src: url('portfolio/assets/fonts/SF-Pro/SF-Pro-Display-LightItalic.otf') format('opentype');
}

@font-face {
    font-family: 'SF Pro Display Medium';
    src: url('portfolio/assets/fonts/SF-Pro/SF-Pro-Display-Medium.otf') format('opentype');
}

@font-face {
    font-family: 'SF Pro Display Medium Italic';
    src: url('portfolio/assets/fonts/SF-Pro/SF-Pro-Display-MediumItalic.otf') format('opentype');
}

@font-face {
    font-family: 'SF Pro Display Regular';
    src: url('portfolio/assets/fonts/SF-Pro/SF-Pro-Display-Regular.otf') format('opentype');
}

@font-face {
    font-family: 'SF Pro Display Regular Italic';
    src: url('portfolio/assets/fonts/SF-Pro/SF-Pro-Display-RegularItalic.otf') format('opentype');
}

@font-face {
    font-family: 'Commune';
    src: url('portfolio/assets/fonts/Commune/commune.woff2') format('woff2'),
    url('portfolio/assets/fonts/Commune/commune.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
