.title{
    font-size: 4em;
    font-weight: bold;
    margin-bottom: 20px;
    font-family: Commune,serif;
    color: white;
    text-align: center;
    background-size: 200%;
    text-shadow: 0 0 20px rgba(255, 255, 255, 1);
    animation: twinkling 6s ease-in-out infinite;
    transition: text-shadow 0.1s ease-in-out;
    padding-left:20px;
    padding-right:40px;
    padding-bottom: 10px;
}

.body{
    padding-bottom: 90px;
}

@keyframes twinkling {
    0% {
        text-shadow: 0 0 0px #ffffff;
    }
    25% {
        text-shadow: 0 0 10px #ffffff;
    }
    50% {
        text-shadow: 0 0 20px #ffffff;
    }
    75% {
        text-shadow: 0 0 10px #ffffff;
    }
    100% {
        text-shadow: 0 0 0px #ffffff;
    }
}


.subheading{
    font-size: 1em;

    margin-bottom: 20px;
    font-family: SF Pro Display Light,sans-serif;
    color: white;
    text-align: center;
    padding-left:20px;
    padding-right:40px;
    padding-bottom: 10px;
}

.card-body{
    font-size: 1em;
    font-family: SF Pro Display Light,sans-serif;
    color: white;
    text-align: left;
    padding-left:20px;
    padding-right:40px;
    padding-bottom: 10px;
    width: 100%;
    max-width: 700px;
    max-height: 900px;
    margin-bottom: 20px;
    text-decoration: none;

    border-radius: 10px;
    transition: transform .3s ease;
}
a .card-text{
    text-decoration: none;
    color: inherit;
}


.second{
    padding-bottom: 160px;

  }

.card {
    background-color: #1a1a1a;
    border-radius: 20px;
    margin: 20px;
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.2);
    transition: box-shadow 0.1s ease-in-out, transform 0.3s ease-in-out;
    transform-origin: center; /* Adjust the scaling origin as needed */
    padding-top: 0;
    text-decoration: none;
    color: white;
}

.card:hover {
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.4);
    transform: scale(1.05);
}

.card-img-top {
    width: 90%;
    display: flex;
    justify-content: center;
    height: 100%; /* Adjust the value based on your preference */
    object-fit: cover;
    margin-bottom: 20px;
    transition: transform 0.1s ease-in-out;
    padding-top: 20px;

}

img {
    width: 100%;
    border-radius: 10px;
    object-fit: cover;
    margin-bottom: 20px;
    transition: transform 0.1s ease-in-out;
}
.card-title{
    font-size: 1.5em;
    font-family: SF Pro Display,sans-serif;
    color: white;
    text-align: left;
    padding-bottom: 10px;
    font-weight: bold;
}

@media (max-width:900px){
    body{
        margin:0;
        overflow: hidden;
    }
    .card{
        margin: 0;
    }
    .card-body{
        padding:0;
    }
    .card:hover {
        box-shadow: 0 0 20px rgba(255, 255, 255, 0.4);
        transform: none; /* Set transform to none for mobile view */
    }
    .first{
        padding-bottom: 20px;
    }
    .second{
        padding-bottom: 20px;
    }


}